{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": {
          "minProperties": 5
        }
      }
    ],
    "no-bitwise": "off",
    "semi": [
      "error",
      "never"
    ],
    "arrow-parens": [
      "error",
      "always"
    ]
  }
}